* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 65, 65);
}

.header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.card-body-stars {
  list-style: none;
}

.u-clearfix {
  display: flex;
}

.App {
  border: 1px solid rgb(65, 65, 65);
  width: 300px;
  margin: auto;
}